<!-- BEGIN js_box -->
<div id="xnob-details-actions">
	<ul>
		<li class="xnob-action-report"><a id="xnob-report-notice" href="#">{TXT_REPORT_NOTICE}</a></li>
		<li class="xnob-action-recommend"><a id="xnob-recommend-notice" href="#">{TXT_RECOMMEND_NOTICE}</a></li>
		<li class="xnob-action-print"><a id="xnob-print-notice" href="#">{TXT_PRINT_NOTICE}</a></li>
	</ul>
</div>
<!-- END js_box -->
<h2>{NT_TITLE}<!-- BEGIN hidden --> <span style="font-size: smaller; color: #F00;">[{TXT_HIDDEN}]</span><!-- END hidden -->
	<!-- BEGIN expired --> <span style="font-size: smaller; color: #F00;">[{TXT_EXPIRED}]</span><!-- END expired -->
</h2>
<!-- BEGIN price --><h3>{TXT_PRICE}: {NT_PRICE}</h3><!-- END price -->
<p><!-- BEGIN location --><b>{TXT_LOCATION}:</b> {LOCATION}<br/>
	<!-- END location -->
	<b>{TXT_CREATE_DATE}:</b> {NT_CREATE_DATE}<br/>
	<b>{TXT_EXPIRE_DATE}:</b> {NT_EXPIRE_DATE}<br/>
	<b>{TXT_USER}:</b> {USER_NAME}<!-- BEGIN phone --> ({TXT_PHONE}: {NT_USER_PHONE})<!-- END phone -->
</p>
<!-- BEGIN viewport -->
<div class="bx-viewport" style="width: 480px; overflow: hidden; float: left;">
	<ul class="bxslider">
		<!-- BEGIN additional_images -->
		<li><a class="fancybox" rel="gallery" id="xnob-images-{ID}" href="{IMAGES_LINK_LARGE_VIEW}" target="_blank">
			<img src="{IMAGES}" width="{IMAGES_WIDTH}" width="{IMAGES_WIDTH}" alt="{TXT_IMAGES}" border="0"/></a>
		</li>
		<!-- END additional_images -->
	</ul>
</div>
<!-- END viewport -->

<div style="margin-left: {DESCRIPTION_MARGIN_LEFT}px;">
	<h3>{TXT_DESCRIPTION}</h3>
	{NT_DESCRIPTION}
</div>

<!-- BEGIN additional_documents -->
<h3 style="clear: both;">{TXT_ADDITIONAL_DOCUMENTS}</h3>
<ul>
	<!-- BEGIN additional_files -->
	<li><a id="xnob-images-{F_ID}" href="{FILE}">{FILE_NAME}</a></li>
	<!-- END additional_files -->
</ul>
<!-- END additional_documents -->

<div class="xnob-counter">{COUNTER}</div>

<div id="xnob-details-container" class="modal fade">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" title="{TXT_CLOSE_WINDOW}"><span aria-hidden="true">×</span><span class="sr-only">{TXT_CLOSE_WINDOW}</span></button>
				<h4 class="modal-title" id="xnob-details-form-headline"></h4>
			</div>
			<div class="modal-body">
				<div id="xnob-details-form-msg-success" class="alert alert-success" role="alert"></div>
				<div id="xnob-details-form-msg-error"   class="alert alert-danger" role="alert"></div>
				
				<form role="form" class="form-horizontal" method="post" action="" id="xnob-details-form">
					<div id="xnob-details-form-report-notice" class="xnob-details-fieldset form-horizontal">
						<div class="form-group">
							<select class="form-control" name="form[report_notice][reason]" id="xnob-details-form-report-notice-reason" size="1">
								<option value="0">{TXT_PLEASE_SELECT}</option>
								<option value="SPAM">{TXT_SPAM}</option>
								<option value="PROHIBITED">{TXT_PROHIBITED}</option>
								<option value="OTHER">{TXT_OTHER}</option>
							</select>
						</div>
						<div id="xnob-details-form-report-notice-comment" class="form-group">
							<label for="xnob_report_notice_comment">{TXT_GIVE_REASON}:</label>
							<textarea class="form-control" rows="5" cols="25" id="xnob_report_notice_comment" name="form[report_notice][comment]"></textarea>
						</div>
						<div class="xnob-details-buttons">
							<input class="btn btn-default" id="xnob-details-form-report-notice-button-submit" type="submit" value="{TXT_REPORT}"/>
							<input class="btn btn-default" id="xnob-details-form-report-notice-button-cancel" type="reset" value="{TXT_CANCEL}"/>
						</div>
					</div>
					<div id="xnob-details-form-recommend-notice" class="xnob-details-fieldset form-horizontal">
						<div class="form-group">
							<label for="xnob-details-form-recommend-notice-recipient">{TXT_TO}</label>
							<input class="form-control" type="text" value="" name="form[recommend][recipient]" id="xnob-details-form-recommend-notice-recipient"/>
							<script type="text/javascript">
								il.Util.addOnLoad(
									function() {
										$.widget( "custom.ilxnobautocomplete", $.ui.autocomplete, {
											_renderMenu: function(ul, items) {
												var that = this;
												$.each(items, function(index, item) {
													console.log(item);
													that._renderItemData(ul, item);
												});
											}
										});
										
										
										$('#xnob-details-form-recommend-notice-recipient').ilxnobautocomplete({
											requestUrl: "{URL_AUTOCOMPLETE}",
											appendTo: $('#xnob-details-form-recommend-notice-recipient').parent(),
											minLength: 3,
											source: function( request, response ) {
												var that = this;
												$.getJSON( that.options.requestUrl, {
													term: request.term
												}, function(data) {
													if (typeof data.items == "undefined") {
														response(data);
													} else {
														response(data.items);
													}
												});
											}
										});
									});
							</script>
							<div class="help-block">{TXT_RECIPIENT_INFO}</div>
						</div>
						<div class="form-group">
							<label for="xnob-details-form-recommend-notice-message">{TXT_YOUR_MESSAGE} ({TXT_OPTIONAL})</label>
							<textarea class="form-control" rows="5" cols="25" name="form[recommend][message]" id="xnob-details-form-recommend-notice-message"></textarea>
						</div>
						<div class="xnob-details-buttons">
							<input class="btn btn-default" id="xnob-details-form-recommend-notice-button-submit" type="submit" value="{TXT_RECOMMEND}"/>
							<input class="btn btn-default" id="xnob-details-form-recommend-notice-button-cancel" type="reset" value="{TXT_CANCEL}"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#xnob-details-form").on('submit', function(e) {
		e.preventDefault();
		e.stopPropagation();
	});

	function hideContainer() {
		$('#xnob-details-container').modal('hide');
	}
	function hideForms() {
		$('#xnob-details-form-report-notice').hide();
		$('#xnob-details-form-recommend-notice').hide();
	}
	function showForm() {
		hideForms();
		$('#xnob-details-container').modal('show');
		$('#xnob-details-form-msg-success').hide();
		$('#xnob-details-form-msg-error').hide();
	}
	function handleReportNotice() {
		showForm();
		$('#xnob-details-form-headline').text('{TXT_REPORT_NOTICE}');
		$('#xnob-details-form-report-notice-reason').val('0');
		$('#xnob-details-form-report-notice-comment textarea').val('');
		$('#xnob-details-form-report-notice-comment').hide();
		$('#xnob-details-form-report-notice').show();
	}
	function handleRecommendNotice() {
		showForm();
		$('#xnob-details-form-headline').text('{TXT_RECOMMEND_NOTICE}');
		$('#xnob-details-form-recommend-notice-recipient').val('');
		$('#xnob-details-form-recommend-notice-message').val('');
		$('#xnob-details-form-recommend-notice').show();
	}
	function handleReportNoticeType() {
		$('#xnob-details-form-msg-error').hide();
		if (this.val() == 'OTHER') {
			$('#xnob-details-form-report-notice-comment').show();
		} else {
			$('#xnob-details-form-report-notice-comment').hide();
		}
	}
	function handleReportNoticeSubmit() {
		if ($('#xnob-details-form-report-notice-reason').val() == '0') {
			return;
		}
		if ($('#xnob-details-form-report-notice-reason').val() == 'OTHER' &&
			$('#xnob-details-form-report-notice-comment textarea').val().length == 0) {
			$('#xnob-details-form-msg-error').text('{TXT_COMMENT_MISSING}');
			$('#xnob-details-form-msg-error').show();
			return;
		}
		$.ajax({
			url:      '{REPORT_AJAX_URL}',
			type:     'POST',
			data:     {
				notice_id: {NT_ID},
				reason:    $('#xnob-details-form-report-notice-reason').val(),
				comment:   $('#xnob-details-form-report-notice-comment').val()
			},
			dataType: 'json',
			success:  function (data) {
				$('#xnob-details-form-msg-error').hide();
				$('#xnob-details-form-msg-success p').text('{TXT_NOTICE_REPORTED_SUCCESSFULLY}');
				$('#xnob-details-form-msg-success').show();
				$('#xnob-details-form-report-notice').hide();
			}
		});
	}
	function handleRecommendNoticeSubmit() {
		if ($('#xnob-details-form-recommend-notice-recipient').val().length == 0) {
			$('#xnob-details-form-msg-error').text('{TXT_RECIPIENT_MISSING}');
			$('#xnob-details-form-msg-error').show();
			return;
		}
		$.ajax({
			url:      '{RECOMMEND_AJAX_URL}',
			type:     'POST',
			data:     {
				notice_id: {NT_ID},
				recipient: $('#xnob-details-form-recommend-notice-recipient').val(),
				message:   $('#xnob-details-form-recommend-notice-message').val()
			},
			dataType: 'json',
			success:  function (data) {
				if (typeof data.success != "undefined" && data.success == 1) {
					$('#xnob-details-form-msg-error').hide();
					$('#xnob-details-form-msg-success').html('{TXT_NOTICE_RECOMMENDED_SUCCESSFULLY}');
					$('#xnob-details-form-msg-success').show();
					$('#xnob-details-form-recommend-notice').hide();

				} else {
					$('#xnob-details-form-msg-success').hide();
					$("#xnob-details-form-msg-error").html(data.message);
					$('#xnob-details-form-msg-error').show();
				}
			}
		});
	}
	$(function () {
		$('#xnob-report-notice').click(function () {
			handleReportNotice();
		});
		$('#xnob-recommend-notice').click(function () {
			handleRecommendNotice();
		});
		$('#xnob-details-msg-success-close').click(function () {
			hideContainer();
		});
		$('#xnob-details-form-report-notice-button-cancel').click(function () {
			hideContainer();
		});
		$('#xnob-details-form-recommend-notice-button-cancel').click(function () {
			hideContainer();
		});
		$('#xnob-details-form-report-notice-reason').change(function () {
			handleReportNoticeType.call($(this));
		});
		handleReportNoticeType.call($('#xnob-details-form-report-notice-reason'));
		$('#xnob-details-form-report-notice-button-submit').click(function () {
			handleReportNoticeSubmit();
		});
		$('#xnob-details-form-recommend-notice-button-submit').click(function () {
			handleRecommendNoticeSubmit();
		});
	});

	$(document).ready(function() {
		$('.bxslider').bxSlider({
			minSlides:   3,
			maxSlides:   3,
			slideWidth:  200,
			slideMargin: 10
		});
		$('.fancybox').fancybox();
	});

</script>