#xnob-details-actions {
	float: right;
	padding: 10px 10px 2px 10px;
	border: 1px solid #BCCAE5;
	background-color: #FFF;
	width: 180px !important;
	width/**/: 200px;
}
#xnob-details-actions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#xnob-details-actions li {
    height: 17px;
    margin-bottom: 8px;
    padding-left: 26px;
}
#xnob-details-actions li.xnob-action-report {
    background: url("../images/icon_warning.svg") no-repeat scroll 0 0 transparent;
}
#xnob-details-actions li.xnob-action-recommend {
    background: url("../images/icon_recommend.svg") no-repeat scroll 0 0 transparent;
}
#xnob-details-actions li.xnob-action-print {
    background: url("../images/icon_print.svg") no-repeat scroll 0 0 transparent;
	display: none;
}
#xnob-details-image {
	padding: 10px;
	margin: 20px 0;
	border: 1px solid #BCCAE5;
	background-color: #FFF;
	width: 480px !important;
	width/**/: 500px;
	text-align: center;
}
.xnob-list-image {
	padding: 5px;
	border: 1px solid #BCCAE5;
	background-color: #FFF;
	width: 65px !important;
	width/**/: 75px;
	text-align: center;
}
.xnob-list-no-image {
	padding: 5px;
	width: 65px !important;
	width/**/: 75px;
	text-align: center;
}

#xnob-details-form-report-notice,
#xnob-details-form-recommend-notice {
	display: none;
}
#xnob-details-form-msg-success {
	display: none;
}
#xnob-details-form-msg-error {
	display: none;
}